examsService-ejb/ExamsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://exams.emp.com/" name="examsService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://exams.emp.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://exams.emp.com/" schemaLocation="ExamsService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getStudentById">
    <part name="parameters" element="tns:getStudentById"/>
  </message>
  <message name="getStudentByIdResponse">
    <part name="parameters" element="tns:getStudentByIdResponse"/>
  </message>
  <message name="getAllStudents">
    <part name="parameters" element="tns:getAllStudents"/>
  </message>
  <message name="getAllStudentsResponse">
    <part name="parameters" element="tns:getAllStudentsResponse"/>
  </message>
  <message name="getCourseById">
    <part name="parameters" element="tns:getCourseById"/>
  </message>
  <message name="getCourseByIdResponse">
    <part name="parameters" element="tns:getCourseByIdResponse"/>
  </message>
  <message name="getAllCourses">
    <part name="parameters" element="tns:getAllCourses"/>
  </message>
  <message name="getAllCoursesResponse">
    <part name="parameters" element="tns:getAllCoursesResponse"/>
  </message>
  <message name="getExamsOfStudent">
    <part name="parameters" element="tns:getExamsOfStudent"/>
  </message>
  <message name="getExamsOfStudentResponse">
    <part name="parameters" element="tns:getExamsOfStudentResponse"/>
  </message>
  <message name="getAllStudentsOnExam">
    <part name="parameters" element="tns:getAllStudentsOnExam"/>
  </message>
  <message name="getAllStudentsOnExamResponse">
    <part name="parameters" element="tns:getAllStudentsOnExamResponse"/>
  </message>
  <message name="getAllStudentsWhichArePassedExam">
    <part name="parameters" element="tns:getAllStudentsWhichArePassedExam"/>
  </message>
  <message name="getAllStudentsWhichArePassedExamResponse">
    <part name="parameters" element="tns:getAllStudentsWhichArePassedExamResponse"/>
  </message>
  <message name="getAllStudentsWhichAreNotPassedExam">
    <part name="parameters" element="tns:getAllStudentsWhichAreNotPassedExam"/>
  </message>
  <message name="getAllStudentsWhichAreNotPassedExamResponse">
    <part name="parameters" element="tns:getAllStudentsWhichAreNotPassedExamResponse"/>
  </message>
  <portType name="examsService">
    <operation name="getStudentById">
      <input wsam:Action="http://exams.emp.com/examsService/getStudentByIdRequest" message="tns:getStudentById"/>
      <output wsam:Action="http://exams.emp.com/examsService/getStudentByIdResponse" message="tns:getStudentByIdResponse"/>
    </operation>
    <operation name="getAllStudents">
      <input wsam:Action="http://exams.emp.com/examsService/getAllStudentsRequest" message="tns:getAllStudents"/>
      <output wsam:Action="http://exams.emp.com/examsService/getAllStudentsResponse" message="tns:getAllStudentsResponse"/>
    </operation>
    <operation name="getCourseById">
      <input wsam:Action="http://exams.emp.com/examsService/getCourseByIdRequest" message="tns:getCourseById"/>
      <output wsam:Action="http://exams.emp.com/examsService/getCourseByIdResponse" message="tns:getCourseByIdResponse"/>
    </operation>
    <operation name="getAllCourses">
      <input wsam:Action="http://exams.emp.com/examsService/getAllCoursesRequest" message="tns:getAllCourses"/>
      <output wsam:Action="http://exams.emp.com/examsService/getAllCoursesResponse" message="tns:getAllCoursesResponse"/>
    </operation>
    <operation name="getExamsOfStudent">
      <input wsam:Action="http://exams.emp.com/examsService/getExamsOfStudentRequest" message="tns:getExamsOfStudent"/>
      <output wsam:Action="http://exams.emp.com/examsService/getExamsOfStudentResponse" message="tns:getExamsOfStudentResponse"/>
    </operation>
    <operation name="getAllStudentsOnExam">
      <input wsam:Action="http://exams.emp.com/examsService/getAllStudentsOnExamRequest" message="tns:getAllStudentsOnExam"/>
      <output wsam:Action="http://exams.emp.com/examsService/getAllStudentsOnExamResponse" message="tns:getAllStudentsOnExamResponse"/>
    </operation>
    <operation name="getAllStudentsWhichArePassedExam">
      <input wsam:Action="http://exams.emp.com/examsService/getAllStudentsWhichArePassedExamRequest" message="tns:getAllStudentsWhichArePassedExam"/>
      <output wsam:Action="http://exams.emp.com/examsService/getAllStudentsWhichArePassedExamResponse" message="tns:getAllStudentsWhichArePassedExamResponse"/>
    </operation>
    <operation name="getAllStudentsWhichAreNotPassedExam">
      <input wsam:Action="http://exams.emp.com/examsService/getAllStudentsWhichAreNotPassedExamRequest" message="tns:getAllStudentsWhichAreNotPassedExam"/>
      <output wsam:Action="http://exams.emp.com/examsService/getAllStudentsWhichAreNotPassedExamResponse" message="tns:getAllStudentsWhichAreNotPassedExamResponse"/>
    </operation>
  </portType>
  <binding name="examsServicePortBinding" type="tns:examsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getStudentById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllStudents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCourseById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllCourses">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getExamsOfStudent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllStudentsOnExam">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllStudentsWhichArePassedExam">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllStudentsWhichAreNotPassedExam">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="examsService">
    <port name="examsServicePort" binding="tns:examsServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

